google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
h5py==3.6.0
ipykernel
ipython
jupyter-client
jupyter-core
keras
matplotlib
numpy
numba==0.54.1
pandas
plotly
scikit-image
scikit-learn
scipy
seaborn
sklearn
tenacity
tensorflow
tifffile
tqdm

